Publicador no Facebook de Noticias de IA 1.0.blueprint.json
{
    "name": "Publicador no Facebook de Noticias de IA 1.0",
    "flow": [
        {
            "id": 1,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://rss.app/feeds/pCUiFptJmMiKDiWV.xml",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1456,
                    "y": -115
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "media:content",
                                "spec": [
                                    {
                                        "name": "props",
                                        "spec": [
                                            {
                                                "name": "medium",
                                                "type": "text",
                                                "label": "medium"
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "url"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Properties"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    }
                                ],
                                "type": "collection",
                                "label": "media:content"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "facebook-pages:CreatePost",
            "version": 6,
            "parameters": {
                "__IMTCONN__": 7145155
            },
            "mapper": {
                "link": "{{1.url}}",
                "message": "{{1.title}}",
                "page_id": "509197665606943"
            },
            "metadata": {
                "designer": {
                    "x": -978,
                    "y": -117
                },
                "restore": {
                    "expect": {
                        "page_id": {
                            "mode": "chose",
                            "label": "Inteligência Artificial Brasil"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "facebook"
                            },
                            "label": "My Facebook connection (Julio Stella)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "page_id",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Post caption"
                    },
                    {
                        "name": "link",
                        "type": "url",
                        "label": "Link"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Link name"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Link description"
                    },
                    {
                        "name": "date",
                        "type": "date",
                        "label": "Publish date"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -979,
                    "y": 303
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://rss.app/feeds/YevwpSWLpglSNS71.xml",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "1",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 283,
                                    "y": -448
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "guid",
                                                "type": "text",
                                                "label": "guid"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "media:content",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "spec": [
                                                            {
                                                                "name": "medium",
                                                                "type": "text",
                                                                "label": "medium"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "url"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "media:content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 7145155
                            },
                            "mapper": {
                                "link": "{{15.url}}",
                                "message": "{{15.title}}",
                                "page_id": "509197665606943"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 821,
                                    "y": -454
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Inteligência Artificial Brasil "
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Julio Stella)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Post caption"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Publish date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://rss.app/feeds/zxXrqwQhkfW6OOrY.xml",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "1",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 283,
                                    "y": -148
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "guid",
                                                "type": "text",
                                                "label": "guid"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "media:content",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "spec": [
                                                            {
                                                                "name": "medium",
                                                                "type": "text",
                                                                "label": "medium"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "url"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "media:content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 7145155
                            },
                            "mapper": {
                                "link": "{{18.url}}",
                                "message": "{{18.title}}",
                                "page_id": "509197665606943"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 808,
                                    "y": -151
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Inteligência Artificial Brasil "
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Julio Stella)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Post caption"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Publish date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://rss.app/feeds/Cwk7tvpawCJCxUgR.xml",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "1",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 283,
                                    "y": 152
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "guid",
                                                "type": "text",
                                                "label": "guid"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "media:content",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "spec": [
                                                            {
                                                                "name": "medium",
                                                                "type": "text",
                                                                "label": "medium"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "url"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "media:content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 7145155
                            },
                            "mapper": {
                                "link": "{{20.url}}",
                                "message": "{{20.title}}",
                                "page_id": "509197665606943"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 818,
                                    "y": 155
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Inteligência Artificial Brasil "
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Julio Stella)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Post caption"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Publish date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 21,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://rss.app/feeds/nQ8H2dhXSkI6eruB.xml",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "1",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 283,
                                    "y": 452
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "guid",
                                                "type": "text",
                                                "label": "guid"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "media:content",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "spec": [
                                                            {
                                                                "name": "medium",
                                                                "type": "text",
                                                                "label": "medium"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "url"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "media:content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 7145155
                            },
                            "mapper": {
                                "link": "{{21.url}}",
                                "message": "{{21.title}}",
                                "page_id": "509197665606943"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 811,
                                    "y": 446
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Inteligência Artificial Brasil "
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Julio Stella)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Post caption"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Publish date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 22,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://rss.app/feeds/mtdtfnpIQ49KBBeA.xml",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "1",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 283,
                                    "y": 752
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "guid",
                                                "type": "text",
                                                "label": "guid"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "media:content",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "spec": [
                                                            {
                                                                "name": "medium",
                                                                "type": "text",
                                                                "label": "medium"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "url"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "media:content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 7145155
                            },
                            "mapper": {
                                "link": "{{22.url}}",
                                "message": "{{22.title}}",
                                "page_id": "509197665606943"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 811,
                                    "y": 749
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Inteligência Artificial Brasil "
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Julio Stella)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Post caption"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Publish date"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 23,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://rss.app/feeds/WYPvtPD7fFxRYRzA.xml",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "1",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 283,
                                    "y": 1052
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "guid",
                                                "type": "text",
                                                "label": "guid"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "media:content",
                                                "spec": [
                                                    {
                                                        "name": "props",
                                                        "spec": [
                                                            {
                                                                "name": "medium",
                                                                "type": "text",
                                                                "label": "medium"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "text",
                                                                "label": "url"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Properties"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "media:content"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "facebook-pages:CreatePost",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 7145155
                            },
                            "mapper": {
                                "link": "{{23.url}}",
                                "message": "{{23.title}}",
                                "page_id": "509197665606943"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 814,
                                    "y": 1049
                                },
                                "restore": {
                                    "expect": {
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Inteligência Artificial Brasil "
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Julio Stella)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Post caption"
                                    },
                                    {
                                        "name": "link",
                                        "type": "url",
                                        "label": "Link"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Link name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Link description"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Publish date"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}